<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Humanoid_Broadcaster</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.1.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">

    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>Humanoid Broadcaster<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">


      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>News Summary</h2>
              <p>An AI agent which spectacle news elements within short time.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>News Summary</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8">
            <!--#news1-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">"Pathological Liar": Congress Slams PM In Credit War Over Cheetahs' Return</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  Congress leader Jairam Ramesh has said that Prime Minister Narendra Modi is a "pathological liar" over his remark that no constructive efforts were made for decades to reintroduce cheetahs to India.
                  "I couldn't lay my hands on this letter yesterday because of my preoccupation with the #Bharat JodoYatra," he tweeted
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news2-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog2.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">India announce squad for Australia T20 series; Jasprit Bumrah and Harshal Patel return</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  The Board of Control for Cricket in India (BCCI) announced the squad for the upcoming series against Australia.
                  The side will be led by Rohit Sharma while KL Rahul will be his deputy.
                  Mohammed Shami, who has been kept as a standby for the T20 World Cup 2022, will also be a part of the squad.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news3-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog3.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Stocks in news: HDFC Bank, Reliance Power, NTPC, Vodafone Idea and more</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  Private sector lender HDFC Bank has raised?3,000 crore from bonds to fund business growth.
                  The bank issued and allotted bonds to investors on a private placement basis.
                  It is the first product in the electric-only XUV sub-brand which features the copper twin-peaks logo.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news4-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog4.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Air India announces 20 additional flights to Doha ahead of Qatar World Cup, to be serviceable from 30 October</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  Tata Group-owned Air India has announced the introduction of 20 new flights per week from major Indian cities to Qatar.
                  With more capacity, the anticipated increase in demand around the football extravaganza scheduled for the months of November and December will be fulfilled, the airline said.
                  The additional flights will be in addition to the daily flights from Delhi to Doha presently in operation.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news5-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog5.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Which technology trends will have the greatest impact on our lives next year?</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  The Internet of Things (IoT) is a complex network of electronic devices that exchanges and communicates different kinds of data and information via the web.
                  It can be comprehended as a complex network of electronic devices that will increase our daily tasks, save time and money, and enhance overall quality of life for humanity.
                  IoT is capable of elevating business efficiency by 25% with cost reductions, improved innovation cycles and higher profitability.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news6-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog6.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Myntra's mega 'The Big Fashion Festival' announced as India enters festive season</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  Fashion e-commerce platform Myntra on Wednesday announced the arrival of its 'Big Fashion Festival' (BFF),
                  marking the commencement of the shopping season with over 100 new fashion, beauty and lifestyle launches. 
                  Over 6,000 brands from across the globe will be set to shop from the festive fashion event. 
                  The company said that it will be an opportunity for over 6,000 brands to offer shoppers a whopping 1.5 million styles.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news7-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog7.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Brahmastra box office: Ranbir-Alia starrer records massive jump on 2nd Saturday, set to cross Rs 200 crore</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  Ayan Mukerji's Brahmastra, starring Ranbir Kapoor and Alia Bhatt, has reached?197 crore at the box office.
                  The first-week all-India collection of Brahmastra stood at?173 crore approx. 
                  On its second Friday, the film added?9.50 crore in its kitty and hit it out of the park on the second Saturday by recording a jump over 50% from the previous day.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news8-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog8.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Starbucks espresso drink recalled in several states due to possible metal fragments</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  The Board of Control for Cricket in India (BCCI) announced the squad for the upcoming series against Australia.
                  The side will be led by Rohit Sharma while KL Rahul will be his deputy.
                  Mohammed Shami, who has been kept as a standby for the T20 World Cup 2022, will also be a part of the squad.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news9-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog9.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Parenting Tips: Help Your Child Deal With Bullying At School</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  Bullying is unwanted aggressive behaviour that involves intentionally tormenting or repeatedly upsetting,
                  threatening, or hurting someone else.
                  Bullying can also take place online, and as parents, you cannot keep a constant check on your child’s online activities. To find out if your child is being bullied, look out for these signs-rnSit down and listen to your child. Make them feel heard and supported and let them know that it was not their fault.
              </div><!-- End post content -->          
            </article><!-- End blog post -->

            <!--#news10-->
            <article class="blog-details">

              <div class="post-img">
                <img src="static/img/blog/blog10.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">Patanjali to launch 4 IPOs, to list Ayurved, Wellness, Medicine, Lifestyle in few years; 3 more listings later</h2>

              <div class="meta-top">

              </div><!-- End meta top -->

              <div class="content">
                <p>
                  Baba Ramdev's Patanjali group announced the initial public offering (IPO) plans for four group companies at a press conference on Friday.
                  In the coming few years, the company will launch four IPOs — Patanjali Ayurved, Patanjali Wellness and Patanjali Medicine and Patanjali Lifestyle.
                  He further said that the company plans to have at least 5-7 listed companies from the group.
                </p>
              </div><!-- End post content -->          
            </article><!-- End blog post -->

          </div>          
      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">

        </div>

        <div class="col-lg-2 col-6 footer-links">

        </div>

        <div class="col-lg-2 col-6 footer-links">

        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">


        </div>

      </div>
    </div>

    <div class="container mt-4">

    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>